{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="medium-4 medium-centered column">
    <h2>Available Skills</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {%  for skill in skills %}
        <tr>
          <td>{{ skill.name }}</td>
          <td>&euro; {{ skill.price }}</td>
          <td><a href="{{ path('purchase', {'skillId': skill.id}) }}" class="button success">Buy!</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block css %}

{% endblock %}
